.left-sidebar {
  display: grid;
  grid-area: c;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  background: rgb(57, 202, 173);
  color: #fff;
  text-align: center;
}
img.icon {
  width: 50px;
}

.active {
  border-bottom: 5px solid #2f2828;
}
