body {
  background: #c5eeaf;
  background: -webkit-linear-gradient(right, #eff5ec, #f9fdf7);
  background: -moz-linear-gradient(right, #eff5ec, #f9fdf7);
  background: -o-linear-gradient(right, #eff5ec, #f9fdf7);
  background: linear-gradient(to left, #eff5ec, #f9fdf7);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  padding: 20px 30px;
  box-sizing: border-box;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: 2fr 8fr;
  max-height: 100vh;
  height: 100vh;
  width: 100%;
  /* grid-gap: 2px; */
  grid-template-areas:
    "a"
    "b";
  overflow: hidden;
}
.center {
  align-self: center;
  justify-self: center;
}
@media only screen and (max-width: 500px) {
  .wrapper {
    padding: 0px;
  }
}
/*  */
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(6, 71, 11);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(3, 68, 25, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #02311b;
}

@media only screen and (max-width: 500px) {
  .wrapper {
    padding: 0px;
  }
}
