.contact-div {
  display: grid;
  padding: 10px 30px;
  height: 60vh;
  overflow-y: scroll;
}
.contact-div .img-container {
  text-align: center;
  width: 100%;
}
.contact-div img.avatar {
  border-radius: 50%;
  max-height: 100%;
}
.contact-div .user-div {
  padding: 10px;
  border-bottom: 2px solid #bcc5b8;
}
.name-desc-div {
  align-self: start;
  justify-self: left;
  margin-left: 20px;
}

.name-desc-div .name {
  font-size: 1.3em;
  margin-left: 10px;
}

.name-desc-div .user-last-message {
  font-size: 0.8em;
  color: gray;
  margin-top: 5px;
  margin-left: 15px;
}

.name-desc-div .group-desc {
  font-size: 0.8em;
  color: gray;
  margin-top: 5px;
  margin-left: 15px;
}
.user-div > a,
.user-div > a:visited,
.user-div > a:hover,
.user-div > a:active {
  color: inherit;
  display: grid;
  grid-template-columns: 2fr 10fr 10fr;
  text-decoration: none !important;
}

.group-div > a,
.group-div > a:visited,
.group-div > a:hover,
.group-div > a:active {
  color: inherit;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  text-decoration: none !important;
}

.group-div img.group-img {
  width: 100px;
}

span.message-count {
  margin-left: 20px;
  text-align: center;
  display: inline-block;
  background: #df3a5e;
  font-size: 12px;
  font-weight: 700;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  color: #ffffff;
}
